<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tickets"></ion-back-button>
      </ion-buttons>
    <ion-title>{{information?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngIf="information">
<ion-card-header>
<ion-card-title>
  {{information?.title}}
</ion-card-title>
<ion-card-subtitle>
  {{information?.dueDate}}
</ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  <ion-item lines="nones">

    Task Details
    <ion-icon name="clipboard" slot="start"></ion-icon>    
    <ion-label text-wrap>{{information?.description}}</ion-label>  
</ion-item>
<ion-item lines="nones">
  <ion-icon name="contact" slot="start"></ion-icon>    
  <ion-label text-wrap>{{information?.creator}}</ion-label>  
</ion-item>
<ion-item lines="nones">
  <ion-icon name="star-half" slot="start"></ion-icon>    
  <ion-label text-wrap>{{information?.dueDate}}</ion-label>  
</ion-item>
</ion-card-content>
</ion-card>
</ion-content>
