<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm"  (ngSubmit)="login($event)">
<ion-list>
  <ion-item>
    <ion-input id="usernameinput"  [(ngModel)]="username" name="username" type="text" placeholder="username" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="passwordinput" [(ngModel)]="password" name="password" type="password" placeholder="Password"  ></ion-input>
  </ion-item>
  <ion-button  id="loginformsubmit" size="large" type="submit"  expand="block" >Login</ion-button>
</ion-list>
</form>
</ion-content>
