<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>My tickets search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar id="ticketsearchbar" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" (ionClear)="onClear($event)"></ion-searchbar>
  <ion-button (click)="getAllTickets()">Clear research</ion-button>
  
  <ion-list>
      <ion-card button  *ngFor="let item of (results | async)" [routerLink]="['/', 'ticket' , item.uuid]"> 
      <ion-card-header>        
        <ion-card-title>          
          <ion-icon  name='checkbox'></ion-icon>          
          {{item?.title}}</ion-card-title>

        <ion-card-subtitle>Due Date : {{ item?.dueDate }}</ion-card-subtitle>
        <ion-card-content>
          {{item?.description}}
        </ion-card-content>
        <ion-icon  name='options'></ion-icon>  
      </ion-card-header>
      
    </ion-card>
    
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/', 'add-ticket']">
  
    <ion-fab-button id="ticketcreationbutton">+</ion-fab-button>
  </ion-fab>

</ion-content>
