<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tickets"></ion-back-button>
    </ion-buttons>
    <ion-title>Create a ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Ticket title</ion-label>
    <ion-input id="tickettitle" [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea id="ticketdesc" [(ngModel)]="description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Due date (DD MM YY)</ion-label>
    <ion-datetime displayFormat="DD MM YY" placeholder="Select Date" [(ngModel)]="dueDate" ></ion-datetime>
  </ion-item>
  <div class="ion-padding">
    <ion-button id="ticketsubmit"  expand="block" type="submit" class="ion-no-margin" (click)="createTicket($event)" defaultHref="/">
      Create a ticket</ion-button>
  </div>
</ion-content>